body {
  font-family: 'Karla', serif;
  padding-top: 54px;
  color: #404F5E;
  line-height: 1.6;
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  color: #404F5E;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: #88B04B;
}

h2 {
  font-size: 3.5rem;
  color: #88B04B;
}

h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

p {
  line-height: 1.8;
}

.muted {
  color: #798990;
}

.subheading {
  font-weight: 300;
  font-family: 'Montserrat', serif;
  font-size: 1.5rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #798990;
}
#sideNav .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
  color: #404F5E;
}
#sideNav .navbar-nav .nav-item .nav-link.active:before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   border-radius: 7px;
   background-color: #88B04B;
   position: relative;
   top: -2px;
   margin-right: 6px;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0 0 5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    width: 200px;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #D5DED8;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

section#title-section {
  background: url('../img/intro-bg.png') no-repeat top right;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
  section#iconography {
    background: url('../img/plants.jpg') no-repeat top 50px right -300px;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #FAFAFC !important;
}

.text-primary {
  color: #88B04B !important;
}

a {
  color: #88B04B;
}

a:hover, a:focus, a:active {
  color: #88B04B;
}

.color-swatch, .large-color-swatch {
  border-radius: 10px;
}
.color-swatch {
  width: 60px;
  height: 60px;
}
.large-color-swatch {
  height: 160px;
}

.montserrat {
  font-family: 'Montserrat', serif;
}

.karla {
  font-family: 'Karla', serif;
}

.small p {
  line-height: 1.6;
}

.logo-dont:before {
   content: 'x';
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 20px;
   background-color: #EF5C6E;
   color: white;
   margin-right: 10px;
   line-height: 1;
}