body {
  font-family: 'Karla', serif;
  padding-top: 54px;
  color: #404F5E;
  line-height: 1.6;
  font-size: .9rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', serif;
  font-weight: 700;
  color: #404F5E;
}

h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  color: #88B04B;
}

h2 {
  font-size: 2rem;
  color: #88B04B;
}

h3 {
  font-weight: 500;
  font-size: .9rem;
}

p {
  line-height: 1.8;
}

.greenery { color: #88B04B;}
.orion { color: #404F5E;}
.hydro { color: #486971;}
.fs-blue { color: #3498DB;}
.slate { color: #798990;}
.coral { color: #EF5C6E;}
.silt { color: #ABBDB1;}
.grape { color: #784067;}

.subheading {
  font-weight: 300;
  font-family: 'Montserrat', serif;
  font-size: 1.1rem;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 400;
  color: #798990;
}
#sideNav .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
  color: #404F5E;
}
#sideNav .navbar-nav .nav-item .nav-link.active:before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   border-radius: 7px;
   background-color: #88B04B;
   position: relative;
   top: -2px;
   margin-right: 6px;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0 0 5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    width: 200px;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #D5DED8;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

section#title-section {
  background: url('../img/plants3.png') no-repeat 85% 100%;
}

@media (min-width: 576px) {  
  section#iconography {
    background: url('../img/plants.jpg') no-repeat top 50px right -300px;
  }
  body {
    font-size: 1.1rem;
  }
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .subheading {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }

  section#title-section {
    background: url('../img/intro-bg.png') no-repeat top right,
                url('../img/plants3.png') no-repeat 85% 100%;
  }
  section#intro {
    background: url('../img/plants4.png') no-repeat 100% 85%;
  }
  section#voiceandtone {
    background: url('../img/plants2.png') no-repeat 50% 100%;
  }
  section#contact {
    background: url('../img/plants5.png') no-repeat 115% 40%;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #FAFAFC !important;
}

.text-primary {
  color: #88B04B !important;
}

a {
  color: #88B04B;
}

a:hover, a:focus, a:active {
  color: #88B04B;
}

.color-swatch, .large-color-swatch {
  border-radius: 10px;
}
.color-swatch {
  width: 60px;
  height: 60px;
}
.large-color-swatch {
  height: 160px;
}

.montserrat {
  font-family: 'Montserrat', serif;
}

.karla {
  font-family: 'Karla', serif;
}

.small p {
  line-height: 1.6;
}

.logo-dont:before {
  content: url('../img/x.svg');
  display: inline-block;
  margin-right: 15px;
}

.form-control {
  padding: .6rem .8rem;
  border: 1px solid #ABBDB1;
}
.form-control:focus {
  color: #495057;
  border-color: #486971;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(131, 161, 194, 0.15);
}

.form-control::-webkit-input-placeholder {
  color: #ABBDB1;
}
.form-control::-moz-placeholder {
  color: #ABBDB1;
}
.form-control:-ms-input-placeholder { 
  color: #ABBDB1;
}
.form-control:-moz-placeholder { 
  color: #ABBDB1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.7rem + 2px);
}

.was-validated #passwordHelpBlock {
  display: none;
}
.valid-feedback {
  color: #88B04B;
}
.valid-feedback:before {
  content: url('../img/checkmark.svg');
  margin-right: 2px;
}
.custom-control-input.is-valid~.custom-control-label, .was-validated .custom-control-input:valid~.custom-control-label {
  color: #88B04B;
}
.custom-control-input.is-valid:checked~.custom-control-label::before, .was-validated .custom-control-input:valid:checked~.custom-control-label::before {
  background-color: #88B04B;
}
.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
  border-color: #88B04B;
}
.custom-select.is-valid:focus, .form-control.is-valid:focus, .was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
  border-color: #647B42;
  box-shadow: 0 0 0 0.2rem rgba(136, 176, 75, 0.15);
}

.invalid-feedback {
  color: #EF5C6E;
}
.invalid-feedback:before {
  content: url('../img/x.svg');
  margin-right: 2px;
}
.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
  border-color: #EF5C6E;
}
.custom-select.is-invalid:focus, .form-control.is-invalid:focus, .was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
  border-color: ##984750;
  box-shadow: 0 0 0 0.2rem rgba(239, 92, 110, 0.15);
}

.form-control:disabled, .form-control[readonly] {
  background-color: #F4F7FB;
  border-color: #DCE5EA;
  color: #ABBDB1;
  cursor: not-allowed;
}

.input-group-text {
  background-color: #FAFAFC;
  border: 1px solid #ABBDB1;
  color: #ABBDB1;
}




/* custom looking select menus */
.select-styled {
  position: relative;
}
.select-styled select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* Undo the Firefox inner focus ring */
.select-styled select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select-styled:after {
  position: absolute;
  top: 50%;
  right: 2rem;
  display: inline-block;
  content: url("../img/select-arrow.svg");
  width: 0;
  height: 0;
  margin-top: -.92rem;
  pointer-events: none;
}

/* Hide the arrow in IE10 and up */
.select-styled select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select-styled select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select-styled option {
    background-color: white;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select-styled select {
    z-index: 1;
  }
  .select-styled:after {
    z-index: 5;
  }
  .select-styled:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select-styled select:hover,
  .select-styled select:focus,
  .select-styled select:active {
    color: #404F5E;
    background-color: #eee;
  }
}

.btn {
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out,
              width .15s ease-in-out,
              height .15s ease-in-out;
}

/* primary button */
.btn-primary, .btn-primary:disabled {
  background-color: #88B04B;
  border-color: #88B04B;
}
.btn-primary:hover {
  background-color: #69922B;
  border-color: #69922B;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #5E8523;
  border-color: #5E8523;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(136, 176, 75, 0.25);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.3rem rgba(136, 176, 75, 0.5);
}

/* secondary button */
.btn-outline-primary, .btn-outline-primary:disabled {
    color: #88B04B;
    border-color: #88B04B;
}
.btn-outline-primary:hover {
    background-color: #88B04B;
    border-color: #88B04B;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: #779F3A;
    border-color: #779F3A;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(136, 176, 75, 0.15);
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.3rem rgba(136, 176, 75, 0.5);
}

/* standard button */
.btn-outline-secondary, .btn-outline-secondary:disabled {
  border-color: #404F5E;
  color: #404F5E;
}
.btn-outline-secondary:hover {
  background-color: #404F5E;
  border-color: #404F5E;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
  background-color: #344251;
  border-color: #344251;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(64,79,94,.15);
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.3rem rgba(64,79,94,.3);
}

.btn:disabled {
  pointer-events: none;
}

.custom-control-label::before {
  background-color: rgb(210, 223, 214);
  top: .38rem;
}
.custom-control-label::after {
  top: .38rem;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #88B04B;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgba(136, 176, 75, 0.15);
}
.custom-control-input:active~.custom-control-label::before {
  background-color: rgb(198, 219, 166);
}

/* section#downloads .disabled:after {
  content:url('../img/coming-soon.svg')
} */

/* loader animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#validation-btn span {
  transition: opacity .2s;
  opacity: 1;
}
#validation-btn.is-loading {
  pointer-events: none;
}
#validation-btn.is-loading span {
  transition: opacity .2s;
  opacity: 0;
}
.loading-wrapper {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity .2s;
  opacity: 0;
}
.is-loading .loading-wrapper {
  opacity: 1;
}
.loading-wrapper.position-absolute {
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.loading1, .loading2, .loading3 {
  border-radius: 100%;
  position: absolute;
  border: .1rem solid white;
  border-top-color: transparent;
  width: 20px;
  height: 20px;
  animation: spin 1s infinite linear;
}

.loading1 { /* inside, smallest */
  animation: spin calc(1s/1.2) infinite linear;
}

.loading2 { /* middle */
  width: calc(20px*1.3);
  height: calc(20px*1.3);
}

.loading3 { /* outside, biggest */
  width: calc(20px*1.6);
  height: calc(20px*1.6);
  animation: spin calc(1s*2) infinite linear;
}